@{
  ViewData["Title"] = "Survey";
}


<div class="card">
  <div class="card-header">
    New Survey
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label"></label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <a href="#" class="btn btn-primary">Upload</a>
  </div>
</div>

<br />
<br />
<br />

<div class="card">
  <div class="card-header">
    Surveys
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Classifier</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>New Login Screen</td>
          <td>MS Office</td>
          <td>Completed</td>
        </tr>        
      </tbody>
    </table>

  </div>
</div>