@{
  ViewData["Title"] = "Web Scraping";
}


<div class="card">
  <div class="card-header">
    New Website
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Url</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="The URL to scrap data">
    </div>

    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>

<br />
<br />
<br />

<div class="card">
  <div class="card-header">
    Websites
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Url</th>
          <th scope="col">Classifier</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>https://www.linkedin.com/company/collaboration-betters-the-world/</td>
          <td>LinkedIn</td>
          <td>Completed</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>https://dwakbqpvo90fz.cloudfront.net/assets/img/social/cbtw_tw.png</td>
          <td>Tweeter</td>
          <td>In Progress</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>https://www.facebook.com/ptcapacbycbtw</td>
          <td>FaceBook</td>
          <td>Completed</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>